

<div class='row'>
  <div class='col-xs=12 text-center'>
    <p>List of Users</p>
    <% @users.each do |user| %>
      <div class='row'>
        <%= "#{user.name}" %>
      </div>
    <% end %>
  </div>
</div>
