<div class='row'>
  <div class='col-xs-12 text-center'>
    <h1>User Info goes here</h1>
    <%= link_to "Create new Gallery", new_gall_path, class: "btn btn-primary" %>
    <h3>Gallery 1 stuff here</h3>
    <h3>Gallery 2 stuff here</h3>
    <h3>Gallery 3 stuff here</h3>
  </div>
</div>
