<div class='row'>
  <div class='col-xs-12 text-center'>
    <h1>List of Galleries for user <%= @user.name %> </h1>
    <% @galls = current_user.galls %>
    <% if @galls %>
      <% @galls.each do |gall| %>
        <p><%= gall.title %></p>
      <% end %>
    <% else %>
      <p>No existing Galleries</p>
    <% end %>
    <%= link_to "Create new Gallery", new_gall_path(@user), class: "btn btn-primary" %>
  </div>
</div>
