<div class='row'>
  <div class='col-xs-12 text-center'>
    <h1>List of Galleries for user <%= @user.name %> </h1>
    <% @galls = current_user.galls %>
    <% if @galls %>
      <% @galls.each do |gall| %>
        <div class='row'>
          <%=link_to "#{gall.title}", gall_path(gall.id), class: "btn btn-outline butn-sm"%>
          <%=link_to "Delete", gall_path(gall.id), method: 'delete', class: "btn btn-outline btn-sm"%>
        </div>
      <% end %>
    <% else %>
      <p>No existing Galleries</p>
    <% end %>
    <%= link_to "Create new Gallery", new_gall_path(@user), class: "btn btn-primary" %>
  </div>
</div>
