

<div class='row'>
  <div class='col-xs-12 text-center'>
    <p>Gallerys for user <%= current_user.name %></p>
    <% if current_user.galls.count > 0 %>
      <% current_user.galls.each do |gall| %>
        <div class='row'>
          <%=link_to "#{gall.title}", gall_path(gall.id), class: "btn btn-outline butn-sm"%>
          <%=link_to "Delete", gall_path(gall.id), method: 'delete', class: "btn btn-outline btn-sm"%>
        </div>
      <% end %>
    <% else %>
      <p>No Gallerys yet</p>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 text-center'>
    <%=link_to "Create Gallery", new_gall_path(current_user), :method => 'get', class: "btn btn-primary btn-sm"%>
  </div>
</div>
