

<div class='row'>
  <div class='col-xs=12 text-center'>
    <h1>Gallery</h1>
    <h2>You can create multiple galleries of pictures</h2>
    <h3>Within each gallery, you can add photos</h3>
    <H3>Login or Signup to get started !</H3>
  </div>
</div>
